@media(max-width: 1199px) {
    .container {
        max-width: 850px;
    }
    .promo {
        padding-top: 20px;
        padding-bottom: 20px;
        &__wrapper {
            .promo__header {
                font-size: 35px;
            }
            .promo__subheader {
                font-size: 20px;
            }
        }
    }
    .advantages {
        padding: 50px 0;
    }
    .title {
        &_left {
            font-size: 30px;
        }
    }
    .consultation{
        min-height: 620px;
        padding: 70px 0;
        &__descr {
            margin-top: 60px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 550px;
            }
        }
        .prev {
            left: -16px;
        }
        .next {
            right: -16px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    
    .feed {
        &__item {
            &:nth-child(2) {
                margin-top: 50px;
            }
        }
    }
}
@media(max-width: 991px) {
    .container {
        max-width: 640px;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        min-height: 550px;
        padding: 20px 0px;
        &__wrapper {
            margin-top: 45px;
            .promo__header {
                font-size: 30px;
            }
            .promo__subheader {
                font-size: 17px;
                margin-top: 6px;
            }
        }
        &__icons {
            margin-top: 50px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .button {
        &_main {
            margin-top: 50px;
            width: 250px;
            height: 45px;
            font-size: 15px;
        }
        &_submit {
            width: 300px;
        }
    }
    .advantages {
        padding: 50px 20px;
        &__wrapper {
            margin-top: 50px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__block {
            &:nth-child(3) {
                margin-top: 20px;
            }
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 20px;
        }
    }
    .title {
        font-size: 27px;
        &_left {
            width: auto;
            text-align: center;
        }
    }
    .consultation {
        min-height: 560px;
        padding: 50px 0;
        &__descr {
            margin-top: 40px;
            font-size: 18px;
            text-align: center;
            width: auto;
        }
    }
    .feed-form {
        align-items: center;
        width: auto;
        input {
            width: 300px;
        }
    }
    .carousel {
        padding: 70px 0 50px;
        .prev, .next {
            display: none;
        }
        .tns-item {
            img {
                width: 500px;
            }
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 45px;
        }
        &__tab {
            width: 170px;
            height: 40px;
            font-size: 15px;
            line-height: 40px;
        }
        &__content {
            margin-top: 45px;
        }
    }
    .feed {
        &__text {
            padding-right: 0;
        }
        &__descr {
            line-height: 19px;
        }
    }
    .footer {
        height: 400px;
        iframe {
            height: 400px;
        }
        &__info {
            padding: 35px;
            width: 380px;
            height: 200px;
        }
        &__adr {
            font-size: 18px;
            margin-bottom: 25px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
    .overlay {
        width: 100vw;
        .modal {
            max-height: 95vh;
        }
    }
}
@media(max-width: 767px) {
    .container{
        max-width: 520px;
    }
    .xs-hidden-576 {
        display: none;
    }
    .promo {
        min-height: 550px;
        padding: 20px 0;
        &__wrapper {
            margin-top: 45px;
            .promo__header {
                font-size: 35px;
            }
            .promo__subheader {
                font-size: 20px;
                margin-top: 10px;
            }
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            width: 100px;
            font-size: 12px;
        }
    }
    .advantages {
        &__block {
            br {
                display: none;
            }
            &:nth-child(3) {
                margin-top: 25px;
            }
        }
        &__descr {
            text-align: center;
        }
    }
    .carousel {
        padding: 50px 0;
        .tns-item {
            img {
                width: 480px;
            }
        }
    }
    .feed {
        &__img {
            height: 140px;
            width: 140px;
        }
        &__text {
            margin-left: 40px;
        }
    }
}
@media(max-width: 575px) {
    .xs-hidden-320 {
        display: none;
    }
    .container {
        width: auto;
    }
    .header {
        align-items: center;
        &__logo {
            width: 140px;
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            font-size: 14px;    
        }
        .button {
            width: 130px;
            height: 25px;
            font-size: 11px;
        }
    }
    .promo {
        min-height: 430px;
        padding: 20px 15px;
        &__wrapper {
            align-items: center;
            text-align: center;
        }
    }
    .advantages {
        padding: 40px 15px;
        &__wrapper {
            margin-top: 35px;
        }
        &__block {
            width: 100%;
            br {
                display: none;
            }
            &:nth-child(2) {
                margin-top: 25px;
            }
        }
        &__descr {
            margin-top: 10px;
            text-align: center;
        }
    }
    .title {
        font-size: 20px;
        &_left {
            font-size: 19px;
        }
    }
    .consultation {
        min-height: 540px;
        padding: 40px 20px;
        &__descr {
            font-size: 16px;
        }
    }
    .carousel {
        padding: 40px 0;
        .tns-item {
            img {
                width: 300px;
            }
        }
    }
    .catalog {
        &__tabs {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &__tab {
            width: 80%;
            margin-top: 10px;
            transition: 0.5s all;
            &:hover {
                box-shadow: none;
                border: none;
            }
            &:first-child {
                margin-top: 0;
            }
        }
        &__content {
            margin-top: 35px;
        }
    }
    .feed {
        padding: 0 10px 20px;
        &__item {
            flex-direction: column;
            align-items: center;
            &:nth-child(2) {
                margin-top: 40px;
            }
        }
        &__img {
            height: 110px;
            width: 110px; 
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: 0;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            width: 290px;
            font-size: 13px;
        }
    }
    .footer {
        &__info {
            padding: 25px 15px;
            position: static;
            transform: none;
            width: 100%;
        }
        &__adr {
            font-size: 17px;
            margin-bottom: 25px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
    .overlay {
        .feed-form {
            width: auto;
            input {
                width: 100%;
            }
            label {
                font-size: 13px;
            }
            &_mt25 {
                margin-top: 15px;
            }
        }
        .button {
            &_submit {
                width: 100%;
                font-size: 14px;
            }
        }
        .modal {
            padding: 10px;
            padding-top: 20px;
            max-width: 85vw;
        }
    }
    #consultation {
        .modal {
            &__descr {
                display: none;
            }
        }
    }
}